{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}Főoldal{% endblock%}

{% block content%}
<div class="columns-1 md:columns-3 gap-4">
    {% for post in posts %}
        <div class="w-full break-inside-avoid">
            <a href={% url 'core_post' post.created_on.year post.created_on.month post.created_on.day post.slug %} class="hover:text-gray-700">
            {% if post.banner %}
            <img class="rounded" alt={{post.banner.description}} src="/media/{{post.banner.image}}"/>
            {% endif%}
            <div class="pb-4 pt-2">
            <h2 class="font-bold text-2xl pb-1">{{post.title}}</h2>
            <div>{{post.body|truncatewords:12|markdown|safe|striptags}}</div>
            <h3 class="text-sm text-gray-500 pb-4"><a href={% url 'core_post_day' post.created_on.year post.created_on.month post.created_on.day %} class="hover:text-gray-400">{{post.created_on}}</a> | <a class="text-green-700 hover:text-green-500" href={% url 'core_categories' post.category.slug %}>{{post.category|upper}}</a></h3>
            </div>
            </a>
        </div>
    {% endfor%}
</div>
<div class="flex justify-center items-center gap-2 {% if posts.paginator.num_pages == 1 %} hidden {% endif %}">
<a {% if not posts.has_previous %}class="flex justify-center items-center h-10 p-1 text-gray-300" {% else %}class="flex justify-center items-center h-10 p-1" href="?oldal={{ posts.previous_page_number }}"{% endif %}>
    <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
  </svg>
</a>
<div class="flex justify-center items-center h-10 p-1">
{{posts.number}}/{{posts.paginator.num_pages}}
</div>
<a {% if not posts.has_next %}class="flex justify-center items-center h-10 p-1 text-gray-300" {% else %}class="flex justify-center items-center h-10 p-1" href="?oldal={{ posts.next_page_number }}"{% endif %}>
    <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
    </a>
</div>
{% endblock %}