{% extends "base.html" %}
{% load markdown_extras %}

{% block content%}
<div class="flex flex-col gap-4 divide-y">
    {% for post in posts %}
    <div>
        <div class="flex flex-row overflow-hidden pt-4">
            <a href={% url 'core_post' post.slug %}>
            {% if post.banner %}
            <img class="h-40 rounded" alt={{post.banner.description}} src="/media/{{post.banner.image}}"/>
            <div class="pl-4">
            {% else %}
            <div>
            {% endif%}
            
            <h2 class="font-bold text-2xl pb-1">{{post.title}}</h2>
            <h3 class="text-sm text-gray-500 pb-4">{{post.created_on}} | <a class="text-green-700 hover:text-green-500" href={% url 'core_categories' post.category.slug %}>{{post.category|upper}}</a></h3>
            <div>{{post.body|truncatewords:12|markdown|safe|striptags}}</div>
            </div>
        </a>
        </div>
    </div>
    {% endfor%}
</div>
<div class="flex justify-center items-center gap-2 {% if posts.paginator.num_pages == 1 %} hidden {% endif %}">
    <a {% if not posts.has_previous %}class="flex justify-center items-center h-10 p-1 text-gray-300" {% else %}class="flex justify-center items-center h-10 p-1" href="?oldal={{ posts.previous_page_number }}"{% endif %}>
        <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
    </a>
    <div class="flex justify-center items-center h-10 p-1">
    {{posts.number}}/{{posts.paginator.num_pages}}
    </div>
    <a {% if not posts.has_next %}class="flex justify-center items-center h-10 p-1 text-gray-300" {% else %}class="flex justify-center items-center h-10 p-1" href="?oldal={{ posts.next_page_number }}"{% endif %}>
        <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
        </a>
    </div>
{% endblock %}