{% extends "base.html" %}
{% load markdown_extras %}

{% block content%}
        <h2 class="font-bold text-3xl pb-2">{{post.title}}</h2>
        <div class="flex gap-4 pb-4 border-b-2 border-gray-200">
        {% for category in post.category.all%}
            <h3 class="text-xs font-medium text-green-700">{{category}}</h3>
        {% endfor %}
        <p class="text-xs">{{post.created_on|date:'Y.m.d'}}</p>
        </div>
        <article class="flex flex-col pt-4">
            <style scope>
                article h1 {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }
                article h2 {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }
                article h3 {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }
                article p {
                    padding-bottom: 1rem;
                }
            </style>
            {{post.body|markdown|safe}}
        </article>
{% endblock %}